.hdligth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  transition: 0.3s;
  min-height: 100px;
}
.hdligth p {
  transition: 0.3s;
  margin: 1em;
  font-family: "Reggae One", cursive;
  font-size: 22px;
  letter-spacing: 0.05em;
  color: #000;
}
.hdligth a {
  text-decoration: none;
}
.hddark a {
  text-decoration: none;
}
.hddark {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  min-height: 100px;
}
.hddark p {
  transition: 0.3s;
  margin: 1em;
  font-family: "Reggae One", cursive;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: lightblue;
}
.hddark .signUpBtn {
  transition: 0.3s;
  font-size: 20px;
  color: lightblue;
}

.bgligth {
  transition: 0.3s;
}
.bgdark {
  background-color: #142438;
  transition: 0.3s;
}
.signUpLinks,
.logout {
  margin: 1em 2em;
}
.headLinks {
  display: flex;
  align-items: center;
}
.signUpBtn {
  transition: 0.3s;
  padding: 0.5em;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  border: none;
  outline: none;
  background: transparent;
}
.hidden {
  display: none;
}
